:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --bg-color: #131315;
  --text-color: #ffffff;
  --scroll-thumb: #4a4a4a;
  --scroll-track: #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* اسکرول‌بار سفارشی */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
